<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homework Vue.js - ToDoList</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <h1>My first TODO List on Vue.js</h1>
  <hr>
  <div class="container">
    <label>
      <input type="text" v-model="newTask" placeholder="Name of task">
    </label>
    <button @click="addTask">Add</button>
  </div>
  <ul>
    <li v-for="(item, key) in todolist">
      <p>{{item.text}}</p>
      <button v-on:click="deleteTask(key)">Delete</button>
    </li>
  </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
<script src="app.js"></script>
</body>
</html>